<section class="s-hero">
  <div class="s-hero__inner">
      <div class="s-hero__desc">
          <div class="s-hero__title">Looking For Construction Equipments On Rent?</div>
          <div class="s-hero__subtitle">Get the best rental service that is more cost effective, efficient and Safest.</div>
          <div class="s-hero__search">
              <form class="search" action="#!">
                  <div class="search-box">
                      <div class="search-input"><img src="assets/img/svgico/truck-plow.svg" alt="image"><input type="search" name="search" placeholder="Quick Search : Forklift, Crane"></div>
                      <div class="search-btn"><button type="button" data-uk-icon="search"></button></div>
                  </div>
                  <div class="uk-grid-small uk-child-width-auto uk-grid"><label><input class="uk-radio" type="radio" name="search-radio" checked> Arkus Delivery</label><label><input class="uk-radio" type="radio" name="search-radio"> Self Pickup</label></div>
              </form>
          </div>
      </div>
      <div class="s-hero__slider">
          <div class="js-hero-slider">
              <div class="swiper">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide"><img src="assets/img/hero-slider-1.jpg" alt="hero-slider"></div>
                      <div class="swiper-slide"><img src="assets/img/hero-slider-2.jpg" alt="hero-slider"></div>
                      <div class="swiper-slide"><img src="assets/img/hero-slider-3.jpg" alt="hero-slider"></div>
                  </div>
                  <div class="swiper-pagination"></div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="s-about">
  <div class="uk-section uk-container">
      <div class="uk-grid uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
          <div class="uk-text-center"><img src="assets/img/img-about.png" alt="image"></div>
          <div>
              <div class="section-title"><span>[Company Overview]</span>
                  <h3>Helping the Industry with 10k+ Equipments available for Rentals Anytime</h3>
              </div>
              <div class="section-content">
                  <p>Kiusmod tempor sed incididunts labore sed dolor mag aliqua enimad mini veniam quis nostrud exercitation ullamco labores nisi ut aliquip ex ea reprehen deritin voluptate.</p>
                  <p>Lorem ipsum dolor tempor amety consecteur adipisicing elits do eiusmod tempor incididunt aliqua.</p>
                  <div class="s-about__btns" data-uk-margin><a class="uk-button uk-button-danger uk-button-large" href="about-us.html" data-uk-icon="arrow-right">Get started</a><a class="uk-icon-button ico_mission" href="about-us.html" data-uk-tooltip="title: Our Mission; pos: bottom"></a><a class="uk-icon-button ico_track" href="about-us.html" data-uk-tooltip="title: Our Mission; pos: bottom"></a></div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="s-categories">
  <div class="uk-background-muted">
      <div class="uk-section uk-container uk-container-expand">
          <div class="section-title --center"><span>[Premier Equipment Rental Service]</span>
              <h3>Browse Rental Categories</h3>
          </div>
          <div class="section-content">
              <div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
                  <div>
                      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@xl uk-margin" data-uk-grid>
                          <div class="uk-card-media-left uk-cover-container"><img src="assets/img/cat-item-1.jpg" alt="cat-item" data-uk-cover><canvas width="350" height="300"></canvas></div>
                          <div>
                              <div class="uk-card-body">
                                  <div class="uk-card-icon"><span><img src="assets/img/ico-cat-item-1.png" alt="ico-cat-item"></span></div>
                                  <h3 class="uk-card-title">Aerial Machines</h3>
                                  <p>Excepteur sint occaecat cupidata proident in culpa qui officia deserunt mollit anim labor Sed ut perspiciatis unde omnis.</p><a class="more" href="equipment-detail.html"><span data-uk-icon="arrow-right"></span><span>read more</span></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@xl uk-margin" data-uk-grid>
                          <div class="uk-card-media-left uk-cover-container"><img src="assets/img/cat-item-2.jpg" alt="cat-item" data-uk-cover><canvas width="350" height="300"></canvas></div>
                          <div>
                              <div class="uk-card-body">
                                  <div class="uk-card-icon"><span><img src="assets/img/ico-cat-item-2.png" alt="ico-cat-item"></span></div>
                                  <h3 class="uk-card-title">Pro Contractors</h3>
                                  <p>Excepteur sint occaecat cupidata proident in culpa qui officia deserunt mollit anim labor Sed ut perspiciatis unde omnis.</p><a class="more" href="equipment-detail.html"><span data-uk-icon="arrow-right"></span><span>read more</span></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@xl uk-margin" data-uk-grid>
                          <div class="uk-card-media-left uk-cover-container"><img src="assets/img/cat-item-3.jpg" alt="cat-item" data-uk-cover><canvas width="350" height="300"></canvas></div>
                          <div>
                              <div class="uk-card-body">
                                  <div class="uk-card-icon"><span><img src="assets/img/ico-cat-item-3.png" alt="ico-cat-item"></span></div>
                                  <h3 class="uk-card-title">Trucks and Trailers</h3>
                                  <p>Excepteur sint occaecat cupidata proident in culpa qui officia deserunt mollit anim labor Sed ut perspiciatis unde omnis.</p><a class="more" href="equipment-detail.html"><span data-uk-icon="arrow-right"></span><span>read more</span></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@xl uk-margin" data-uk-grid>
                          <div class="uk-card-media-left uk-cover-container"><img src="assets/img/cat-item-4.jpg" alt="cat-item" data-uk-cover><canvas width="350" height="300"></canvas></div>
                          <div>
                              <div class="uk-card-body">
                                  <div class="uk-card-icon"><span><img src="assets/img/ico-cat-item-4.png" alt="ico-cat-item"></span></div>
                                  <h3 class="uk-card-title">Loaders and Movers</h3>
                                  <p>Excepteur sint occaecat cupidata proident in culpa qui officia deserunt mollit anim labor Sed ut perspiciatis unde omnis.</p><a class="more" href="equipment-detail.html"><span data-uk-icon="arrow-right"></span><span>read more</span></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="uk-margin-large-top uk-text-center"><a class="uk-button uk-button-default uk-button-large" href="04_equipment-categories.html"><span>view more</span><span data-uk-icon="arrow-right"></span></a></div>
          </div>
      </div>
  </div>
</section>
<section class="s-video">
  <div class="s-video__inner">
      <div class="s-video__desc">
          <div class="section-title"><span>[30 Years Of Equipment Rental Expertise]</span>
              <h3>Provide Solutions to Utilize Industry and Assistance for Better Working</h3>
          </div>
          <div class="section-content"><a class="more" href="about-us.html"><span data-uk-icon="arrow-right"></span><span>see how it works</span></a></div>
      </div>
      <div class="s-video__img" data-uk-lightbox="video-autoplay: true">
          <div class="uk-cover-container"><img src="assets/img/img-video.jpg" alt="img-video" data-uk-cover><canvas width="960" height="400"></canvas></div><a class="s-video__link" href="https://youtu.be/IUYs3mYgEPI" data-attrs="width: 1280; height: 720;" data-caption="YouTube"><img src="assets/img/ico-play.png" alt="image"></a>
      </div>
  </div>
</section>
<section class="s-solutions">
  <div class="uk-section uk-container uk-container-large">
      <div class="section-title --center"><span>[Premier Equipment Rental Service]</span>
          <h3>Arkus Industry Solutions</h3>
      </div>
      <div class="section-content">
          <div class="js-solution-slider">
              <div class="swiper">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="solution-item">
                              <div class="solution-item__box uk-inline"><img src="assets/img/solution-item-1.jpg" alt="solution-item">
                                  <div class="uk-overlay uk-light uk-position-bottom">
                                      <div class="solution-item__title"><span>[Heat Up or Cool Down]</span>
                                          <h3>Climate Control</h3>
                                      </div>
                                      <div class="solution-item__intro">
                                          <p>Tempor incidident sed dolore ipsum maga enim aud temp minis sed veniam quis nost exercitation ullamco laboris</p>
                                      </div>
                                      <div class="solution-item__link"><a class="more" href="equipment-detail.html"><span data-uk-icon="arrow-right"></span><span>learn more</span></a></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="solution-item">
                              <div class="solution-item__box uk-inline"><img src="assets/img/solution-item-2.jpg" alt="solution-item">
                                  <div class="uk-overlay uk-light uk-position-bottom">
                                      <div class="solution-item__title"><span>[For Any Power Needs]</span>
                                          <h3>Power Generation</h3>
                                      </div>
                                      <div class="solution-item__intro">
                                          <p>Tempor incidident sed dolore ipsum maga enim aud temp minis sed veniam quis nost exercitation ullamco laboris</p>
                                      </div>
                                      <div class="solution-item__link"><a class="more" href="equipment-detail.html"><span data-uk-icon="arrow-right"></span><span>learn more</span></a></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="solution-item">
                              <div class="solution-item__box uk-inline"><img src="assets/img/solution-item-3.jpg" alt="solution-item">
                                  <div class="uk-overlay uk-light uk-position-bottom">
                                      <div class="solution-item__title"><span>[Cutting Edge Line Up]</span>
                                          <h3>Floor Care & Prep</h3>
                                      </div>
                                      <div class="solution-item__intro">
                                          <p>Tempor incidident sed dolore ipsum maga enim aud temp minis sed veniam quis nost exercitation ullamco laboris</p>
                                      </div>
                                      <div class="solution-item__link"><a class="more" href="equipment-detail.html"><span data-uk-icon="arrow-right"></span><span>learn more</span></a></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="slider-nav uk-margin-large-top">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="s-stats">
  <div class="uk-container uk-container-xlarge">
      <div class="uk-grid uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@s" data-uk-grid>
          <div>
              <div class="stat-item">
                  <div class="stat-item__box">
                      <h6 class="stat-item__title">Rental Orders</h6><span class="stat-item__value">3.4k</span>
                      <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
                  </div>
              </div>
          </div>
          <div>
              <div class="stat-item">
                  <div class="stat-item__box">
                      <h6 class="stat-item__title">Experienced Team</h6><span class="stat-item__value">125+</span>
                      <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
                  </div>
              </div>
          </div>
          <div>
              <div class="stat-item">
                  <div class="stat-item__box">
                      <h6 class="stat-item__title">Customer Reviews</h6><span class="stat-item__value">3.6k+</span>
                      <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
                  </div>
              </div>
          </div>
          <div>
              <div class="stat-item">
                  <div class="stat-item__box">
                      <h6 class="stat-item__title">Verified Locations</h6><span class="stat-item__value">150+</span>
                      <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="s-reasons">
  <div class="s-reasons__inner uk-background-muted">
      <div class="s-reasons__media uk-cover-container"><img src="assets/img/img-reason.jpg" alt="reason" data-uk-cover><canvas width="960" height="670"></canvas></div>
      <div class="s-reasons__info">
          <div class="section-title"><span>[Equipment Rental Industry]</span>
              <h3>Reasons to Choose Suprek</h3>
          </div>
          <div class="section-content">
              <p>Helping with the best & wide selection of rental equipments.</p>
              <div class="uk-grid uk-grid-small uk-child-width-1-2@s" data-uk-grid>
                  <div>
                      <div class="reason-item"><img class="reason-item__img" src="assets/img/img-reason-1.jpg" alt="reason">
                          <div class="reason-item__body">
                              <div class="reason-item__icon"><img src="assets/img/ico-reason-1.png" alt="reason"></div>
                              <div class="reason-item__desc">
                                  <h4 class="reason-item__title">Out Class Performance</h4>
                                  <p class="reason-item__text">The industry standard sit amest elits sed tempor eiusmod.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div class="reason-item"><img class="reason-item__img" src="assets/img/img-reason-2.jpg" alt="reason">
                          <div class="reason-item__body">
                              <div class="reason-item__icon"><img src="assets/img/ico-reason-2.png" alt="reason"></div>
                              <div class="reason-item__desc">
                                  <h4 class="reason-item__title">Collaborative Support</h4>
                                  <p class="reason-item__text">The industry standard sit amest elits sed tempor eiusmod.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="s-reviews">
  <div class="uk-section uk-container">
      <div class="section-title --center"><span>[Premier Equipment Rental Service]</span>
          <h3>Words From Loyal Customers</h3>
      </div>
      <div class="section-content">
          <div class="js-reviews-slider">
              <div class="swiper">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="review-item">
                              <div class="review-item__box">
                                  <div class="review-item__desc">
                                      <div class="review-item__icon"><span data-uk-icon="quote-right"></span></div>
                                      <h4 class="review-item__title">Satisfying Services.</h4>
                                      <p class="review-item__text">At dolore magna aliqua umt enim ad mini veniam quis ulamco aliquip com da consequat duis aute irue derit vol ptate cillum dolore afugiat.</p>
                                  </div>
                                  <div class="review-item__user">
                                      <div class="user">
                                          <div class="user__avatar"><img src="assets/img/user-1.png" alt="avatar"></div>
                                          <div class="user__info">
                                              <div class="user__name">Donald James</div>
                                              <div class="user__position">Rental Customer</div>
                                              <div class="user__rating">
                                                  <ul class="rating-list">
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li data-uk-icon="star"></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="review-item">
                              <div class="review-item__box">
                                  <div class="review-item__desc">
                                      <div class="review-item__icon"><span data-uk-icon="quote-right"></span></div>
                                      <h4 class="review-item__title">Well-Performed Equip.</h4>
                                      <p class="review-item__text">At dolore magna aliqua umt enim ad mini veniam quis ulamco aliquip com da consequat duis aute irue derit vol ptate cillum dolore afugiat.</p>
                                  </div>
                                  <div class="review-item__user">
                                      <div class="user">
                                          <div class="user__avatar"><img src="assets/img/user-2.png" alt="avatar"></div>
                                          <div class="user__info">
                                              <div class="user__name">Sheggy O’Brain</div>
                                              <div class="user__position">Rental Customer</div>
                                              <div class="user__rating">
                                                  <ul class="rating-list">
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li data-uk-icon="star"></li>
                                                      <li data-uk-icon="star"></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="review-item">
                              <div class="review-item__box">
                                  <div class="review-item__desc">
                                      <div class="review-item__icon"><span data-uk-icon="quote-right"></span></div>
                                      <h4 class="review-item__title">Working Excavators.</h4>
                                      <p class="review-item__text">At dolore magna aliqua umt enim ad mini veniam quis ulamco aliquip com da consequat duis aute irue derit vol ptate cillum dolore afugiat.</p>
                                  </div>
                                  <div class="review-item__user">
                                      <div class="user">
                                          <div class="user__avatar"><img src="assets/img/user-3.png" alt="avatar"></div>
                                          <div class="user__info">
                                              <div class="user__name">Albert D’Souza</div>
                                              <div class="user__position">Rental Customer</div>
                                              <div class="user__rating">
                                                  <ul class="rating-list">
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li class="active" data-uk-icon="star"></li>
                                                      <li data-uk-icon="star"></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="slider-nav uk-margin-large-top">
                  <div class="swiper-pagination"></div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="s-info">
  <div class="uk-container uk-container-xlarge">
      <div class="uk-grid uk-grid-collapse uk-child-width-1-2@l" data-uk-grid>
          <div>
              <div class="info-card --accent">
                  <div class="info-card__box">
                      <div class="info-card__head"><img src="assets/img/ico-info-1.png" alt="ico-info"><span>Do you need our Assistance while Renting an Equipment?</span></div>
                      <div class="info-card__title">Contact our Customer Care Team to Better Assist for your Needs.</div>
                      <div class="info-card__btn"><a class="uk-button uk-button-default uk-button-large" href="about-us.html"><span>Get assistance</span><span data-uk-icon="arrow-right"></span></a></div>
                      <div class="info-card__progress">
                          <div class="progress-item">
                              <h6>Machinery Help</h6><progress class="uk-progress" value="95" max="100"></progress><span>95%</span>
                          </div>
                          <div class="progress-item">
                              <h6>Choose an Equip.</h6><progress class="uk-progress" value="90" max="100"></progress><span>90%</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <div class="info-card">
                  <div class="info-card__box">
                      <div class="info-card__head"><img src="assets/img/ico-info-2.png" alt="ico-info"><span>Do you want to Buy a Part or Equipment? Suprek can Help you!</span></div>
                      <div class="info-card__title">Buy a Part or Equipment in Best Shape with Fully Maintainence.</div>
                      <div class="info-card__btn"><a class="uk-button uk-button-default uk-button-large" href="about-us.html"><span>Start searching</span><span data-uk-icon="arrow-right"></span></a></div>
                      <div class="info-card__progress">
                          <div class="progress-item">
                              <h6>Rent Equipment</h6><progress class="uk-progress" value="95" max="100"></progress><span>95%</span>
                          </div>
                          <div class="progress-item">
                              <h6>Delivery Timing</h6><progress class="uk-progress" value="90" max="100"></progress><span>90%</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="s-news">
  <div class="uk-section uk-container">
      <div class="section-title --center"><span>[Premier Equipment Rental Service]</span>
          <h3>Read Latest From Blog</h3>
      </div>
      <div class="section-content">
          <div class="js-news-slider">
              <div class="swiper">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="new-item"><a class="new-item__box" href="blog-post.html">
                                  <div class="new-item__media"><img src="assets/img/new-item-1.jpg" alt="news"></div>
                                  <div class="new-item__body">
                                      <div class="new-item__title"><span>[Rent Equipment]</span>
                                          <h4>Basic Tips to Motivate Your Team and Increase Production</h4>
                                      </div>
                                      <div class="new-item__date">March 12, 2021</div>
                                  </div>
                              </a></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="new-item"><a class="new-item__box" href="blog-post.html">
                                  <div class="new-item__media"><img src="assets/img/new-item-2.jpg" alt="news"></div>
                                  <div class="new-item__body">
                                      <div class="new-item__title"><span>[Rent Equipment]</span>
                                          <h4>Excavator Components & Parts Which You Should Know How to Rent</h4>
                                      </div>
                                      <div class="new-item__date">March 12, 2021</div>
                                  </div>
                              </a></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="new-item"><a class="new-item__box" href="blog-post.html">
                                  <div class="new-item__media"><img src="assets/img/new-item-3.jpg" alt="news"></div>
                                  <div class="new-item__body">
                                      <div class="new-item__title"><span>[Rent Equipment]</span>
                                          <h4>Safe Driving Tips from Our Drivers and Techs to Yours Warehouse</h4>
                                      </div>
                                      <div class="new-item__date">March 12, 2021</div>
                                  </div>
                              </a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="s-form">
  <div class="uk-section-large uk-container">
      <div class="uk-grid uk-flex-middle" data-uk-grid>
          <div class="uk-width-2-5@m">
              <div class="section-title"><span>[Equipment Rental Industry]</span>
                  <h3>Need an Equipment on Rent? Get Expert’s Help</h3>
              </div>
              <div class="section-content">
                  <p>Send your query today & our team would be happy to assist you because we care industry to utilizing heavy equipment.</p>
                  <div class="contacts-box">
                      <div class="contacts-box__img"><img src="assets/img/avatar.png" alt="image"></div>
                      <div class="contacts-box__desc">
                          <div class="contacts-box__label">Need Help? Call Us</div><a class="contacts-box__phone" href="tel:17881239911">(+1) 788-123-9911</a>
                      </div>
                  </div>
                  <ul class="time-work">
                      <li>Monday to Saturday: 9am to 7pm</li>
                      <li>Sunday: Closed</li>
                  </ul>
              </div>
          </div>
          <div class="uk-width-3-5@m">
              <form action="#!">
                  <!-- Hidden Required Fields -->
                  <input type="hidden" name="project_name" value="Suprek - Top-Of-The-Line Equipment Rentals">
                  <input type="hidden" name="admin_email" value="test@gmail.com">
                  <input type="hidden" name="form_subject" value="Get Expert’s Help">
                  <!-- END Hidden Required Fields -->
                  <div class="uk-grid uk-child-width-1-2@s uk-grid-small" data-uk-grid>
                      <div><input class="uk-input uk-form-large" type="text" name="name" placeholder="Your name"></div>
                      <div><input class="uk-input uk-form-large" type="text" name="email" placeholder="Email"></div>
                      <div><input class="uk-input uk-form-large" type="text" name="phone" placeholder="Phone #"></div>
                      <div><input class="uk-input uk-form-large" type="text" name="subject" placeholder="Subject"></div>
                      <div class="uk-width-1-1"><textarea class="uk-textarea uk-form-large" name="message" placeholder="Message / Question"></textarea></div>
                      <div class="uk-width-1-1"><button class="uk-button uk-button-default uk-button-large" type="submit"><span>Send now</span><span data-uk-icon="arrow-right"></span></button></div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
