<footer class="page-footer">
  <div class="page-footer__top">
    <div class="uk-container uk-container-large">
      <div class="page-footer__inner">
        <div class="page-footer__contacts"><a class="footer-logo" href="/"><img
              src="assets/img/logo-white.png" alt="image"></a>
          <p>Aiusmod tempor incididunt labore dnim ad minim veniam quis nostrsd
            exercitation ullamco.</p>
          <ul class="contacts-list">
            <li><a href="https://goo.gl/maps/XdgZbYX9V62UpBwc7"
                target="_blank"><span data-uk-icon="location"></span><span>35
                  Oakridge Lane, NJ 08102</span></a></li>
            <li><a href="tel:12367995500/6600"><span
                  data-uk-icon="receiver"></span><span>+1 (236) 799 5500 /
                  6600</span></a></li>
            <li><a href="mailto:equipments@domain.net"><span
                  data-uk-icon="mail"></span><span>equipments@heavydutypub.com</span></a></li>
          </ul>
          <ul class="social">
            <li><a href="http://www.facebook.com/" target="_blank"><span
                  data-uk-icon="facebook"></span></a></li>
            <li><a href="http://www.twitter.com/" target="_blank"><span
                  data-uk-icon="twitter"></span></a></li>
            <li><a href="http://www.instagram.com/" target="_blank"><span
                  data-uk-icon="instagram"></span></a></li>
            <li><a href="http://www.linkedin.com/" target="_blank"><span
                  data-uk-icon="linkedin"></span></a></li>
            <li><a href="http://www.youtube.com/" target="_blank"><span
                  data-uk-icon="youtube"></span></a></li>
          </ul>
        </div>
        <div class="page-footer__menu">
          <h4>OuR Solutions</h4>
          <ul class="uk-nav">
            <li><a href="page-typography.html">Safe Walls System</a></li>
            <li><a href="page-typography.html">Climate Control</a></li>
            <li><a href="page-typography.html">Health Care</a></li>
            <li><a href="page-typography.html">Entertainment</a></li>
            <li><a href="page-typography.html">Power Generation</a></li>
            <li><a href="page-typography.html">Industrial Lighting</a></li>
          </ul>
        </div>
        <div class="page-footer__menu">
          <h4>COMPANY INFO</h4>
          <ul class="uk-nav">
            <li><a href="page-typography.html">About Suprek Rental</a></li>
            <li><a href="page-typography.html">Latest News</a></li>
            <li><a href="page-typography.html">Our Process</a></li>
            <li><a href="page-typography.html">Terms & Conditions</a></li>
            <li><a href="page-typography.html">Protections & Coverages</a></li>
            <li><a href="page-typography.html">Used Equipment Sale</a></li>
          </ul>
        </div>
        <div class="page-footer__news">
          <h4>Latest News</h4>
          <ul class="news-list">
            <li>
              <div class="news-list-item"><img class="news-list-item__img"
                  src="assets/img/news-item-1.jpg" alt="news">
                <div class="news-list-item__info"><span
                    class="news-list-item__date">March 12, 2021</span><a
                    class="news-list-item__title" href="blog-post.html">Safe
                    Driving Tips from Our Drivers ...</a></div>
              </div>
            </li>
            <li>
              <div class="news-list-item"><img class="news-list-item__img"
                  src="assets/img/news-item-2.jpg" alt="news">
                <div class="news-list-item__info"><span
                    class="news-list-item__date">March 12, 2021</span><a
                    class="news-list-item__title" href="blog-post.html">Basic
                    Tips to Motivate Your Team ...</a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__bottom">
    <div class="uk-container uk-container-large">
      <div class="page-footer__copy"><span>(c) 2022 <b>Suprek</b> - Heavy
          Equipment Rental Service</span><a href="page-typography.html">Terms &
          Conditions</a><a href="page-typography.html">Sitemap</a><a
          href="page-typography.html">Career Opportunities</a></div>
    </div>
  </div>
</footer>
<div id="offcanvas" data-uk-offcanvas="mode: reveal; overlay: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-flex-between"><button
      class="uk-offcanvas-close" type="button" data-uk-close></button>
    <div class="uk-margin-bottom"><a class="logo uk-margin-bottom" href="/"><img
          src="assets/img/logo-white.png" alt="image"></a>
      <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
        <li class="uk-parent"><a href="index.html"><span>Home</span></a>
        </li>
        <li class="uk-parent"><a
            href="equipments.html"><span>Equipments</span></a>
          <ul class="uk-nav-sub">
            <li><a href="equipments.html">Equipment categories</a></li>
            <li><a href="equipment-detail.html">Equipment detail</a></li>
          </ul>
        </li>
        <li><a href="equipment-detail.html"><span>Our Solutions</span></a></li>
        <li><a href="about-us.html"><span>About</span></a></li>
        <li class="uk-parent">
          <a href="news.html"><span>News</span></a>
        </li>
        <li class="uk-active"><a
            href="contact-us.html"><span>Contact</span></a></li>
      </ul>
    </div>
    <div class="uk-margin"><a class="contacts-block"
        href="tel:17881239911"><span>Need Help? Call Us</span><strong>(+1)
          788-123-9911</strong></a></div>
  </div>
</div>
