<app-page-head parent="Products" title="Caterpillar 345 GC Excavator">

</app-page-head>

<div class="page-content">
  <div class="uk-section uk-container">
    <div class="uk-grid" data-uk-grid="">
      <div class="col-12">
        <div class="equipment-detail">
          <div class="equipment-detail__gallery">
            <div data-uk-slideshow="min-height: 300; max-height: 430" class="uk-slideshow">
              <div class="uk-position-relative">
                <ul class="uk-slideshow-items uk-child-width-1-1" data-uk-lightbox="animation: scale"
                  style="min-height: 430px;">
                  <li tabindex="-1" class="uk-active uk-transition-active"
                    style="transform: translate3d(0px, 0px, 0px);">
                    <a href="assets/img/img-article-intro-3.jpg">
                      <img class="uk-width-1-1 uk-cover" src="assets/img/img-article-intro-3.jpg" alt="img-gallery"
                        data-uk-cover="" style="height: 471px; width: 786px;">
                    </a>
                  </li>
                  <li tabindex="-1">
                    <a href="assets/img/img-article-intro-2.jpg">
                      <img class="uk-width-1-1 uk-cover" src="assets/img/img-article-intro-2.jpg" alt="img-gallery"
                        data-uk-cover="">
                    </a>
                  </li>
                  <li tabindex="-1">
                    <a href="assets/img/img-article-intro-1.jpg">
                      <img class="uk-width-1-1 uk-cover" src="assets/img/img-article-intro-1.jpg" alt="img-gallery"
                        data-uk-cover="">
                    </a>
                  </li>
                  <li tabindex="-1">
                    <a href="assets/img/img-article-intro-4.jpg">
                      <img class="uk-width-1-1 uk-cover" src="assets/img/img-article-intro-4.jpg" alt="img-gallery"
                        data-uk-cover="">
                    </a>
                  </li>
                  <li tabindex="-1">
                    <a href="assets/img/img-article-intro-2.jpg">
                      <img class="uk-width-1-1 uk-cover" src="assets/img/img-article-intro-2.jpg" alt="img-gallery"
                        data-uk-cover="">
                    </a>
                  </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-icon uk-slidenav-previous uk-slidenav"
                  href="#" data-uk-slidenav-previous="" data-uk-slideshow-item="previous">
                  <svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg">
                    <polyline fill="none" stroke="#000" stroke-width="1.4" points="12.775,1 1.225,12 12.775,23 ">
                    </polyline>
                  </svg>
                </a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-icon uk-slidenav-next uk-slidenav"
                  href="#" data-uk-slidenav-next="" data-uk-slideshow-item="next">
                  <svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg">
                    <polyline fill="none" stroke="#000" stroke-width="1.4" points="1.225,23 12.775,12 1.225,1 ">
                    </polyline>
                  </svg>
                </a>
              </div>
              <div class="uk-margin-top uk-slider uk-slider-container" data-uk-slider="">
                <ul
                  class="uk-thumbnav uk-slider-items uk-grid uk-grid-small uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l"
                  style="transform: translate3d(0px, 0px, 0px);">
                  <li data-uk-slideshow-item="0" tabindex="-1" class="uk-active">
                    <a href="#">
                      <img src="assets/img/img-article-intro-3.jpg" alt="img-gallery">
                    </a>
                  </li>
                  <li data-uk-slideshow-item="1" tabindex="-1" class="uk-active">
                    <a href="#">
                      <img src="assets/img/img-article-intro-2.jpg" alt="img-gallery">
                    </a>
                  </li>
                  <li data-uk-slideshow-item="2" tabindex="-1" class="uk-active">
                    <a href="#">
                      <img src="assets/img/img-article-intro-1.jpg" alt="img-gallery">
                    </a>
                  </li>
                  <li data-uk-slideshow-item="3" tabindex="-1" class="uk-active">
                    <a href="#">
                      <img src="assets/img/img-article-intro-4.jpg" alt="img-gallery">
                    </a>
                  </li>
                  <li data-uk-slideshow-item="4" tabindex="-1" class="uk-active">
                    <a href="#">
                      <img src="assets/img/img-article-intro-2.jpg" alt="img-gallery">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="container-fluid px-0">
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="equipment-detail__title">Caterpillar 345 GC Excavator</div>
                <div class="equipment-detail__location">
                  <span data-uk-icon="location" class="uk-icon"></span>Lagos, Nigeria
                </div>
              </div>

              <div class="col-12 col-md-4">
                  <div class="equipment-order">
                    <!-- <div class="equipment-order__title">[Equipment Current Price]</div> -->
                    <div class="equipment-order__price">
                      <span class="current-price">₦425,000.00</span>
                      <!-- <span class="old-price">$75,300</span> -->
                    </div>
                  </div>
                  <a class="uk-button uk-button-danger uk-button-large uk-width-1-1" href="#!">
                    <span>Book Now</span>
                    <span data-uk-icon="arrow-right" class="uk-icon"></span>
                  </a>
              </div>
            </div>
          </div>

          <div class="equipment-detail__desc mt-4">
            <div class="section-title">
              <h3>Description</h3>
            </div>
            <h5>Best Yanmar powered hydraulic excavator for rent.</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laud antium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto be atae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores.</p>
            <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet
              consectetur, adipisci velit sed quia non numquam eius modiy.</p>
            <ul class="list-checked">
              <li>Nostrud exercitation ullamco laboris</li>
              <li>Ut aliquip ex ea reprehen deritin voluptate</li>
              <li>Adipisicing elit sed eiusmod tempor incididunt</li>
              <li>Labore dolore magna aliqua veniam nostrud</li>
            </ul>
          </div>
          <div class="equipment-detail__specification">
            <div class="section-title">
              <h3>Specification</h3>
            </div>
            <div class="tbody">
            </div>
            <table class="uk-table uk-table-striped">
              <tbody>
                <tr>
                  <td>Weight:</td>
                  <td>5710kg</td>
                </tr>
                <tr>
                  <td>Rated power:</td>
                  <td>36.9kW / 2200rpm</td>
                </tr>
                <tr>
                  <td>Standard bucket capacity:</td>
                  <td>0.2m3</td>
                </tr>
                <tr>
                  <td>Standard bucket width:</td>
                  <td>775mm</td>
                </tr>
                <tr>
                  <td>Operation Hydraulic Pressure:</td>
                  <td>24.5Mpa</td>
                </tr>
                <tr>
                  <td>Maximum Digging Force:</td>
                  <td>37.4kN</td>
                </tr>
                <tr>
                  <td>Gradeadility:</td>
                  <td>30°</td>
                </tr>
                <tr>
                  <td>Pressure To The Ground:</td>
                  <td>31.4kPa</td>
                </tr>
                <tr>
                  <td>Walking Speed:</td>
                  <td>2.8/4.7 km/h</td>
                </tr>
                <tr>
                  <td>Maximum Hauling Force:</td>
                  <td>44kN</td>
                </tr>
                <tr>
                  <td>Swing Speed Of Platform:</td>
                  <td>10.4 rpm</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="s-equipments">
  <div class="uk-section uk-container uk-container-large">
    <div class="section-title --center">
      <span></span>
      <h3>Related Equipments Available</h3>
    </div>
    <div class="section-content">
      <div data-uk-slider>
        <div class="uk-position-relative" tabindex="-1">
          <ul class="uk-slider-items uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l">
            <li>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media">
                    <a href="07_equipment-detail.html">
                      <img src="assets/img/equipment-1.jpg" alt="Standard Excavator 8T" />
                    </a>
                  </div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title">
                      <a href="07_equipment-detail.html">Standard Excavator 8T</a>
                    </div>
                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small>
                      </div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">₦425,000.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>₦50,000 / Day</li>
                        <li>₦100,000 / Week</li>
                        <li>₦425,000 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn">
                    <button routerLink="/products/1" class="uk-button uk-button-default uk-button-large uk-width-1-1"
                      type="button">
                      <span>Order Now</span>
                      <span data-uk-icon="arrow-right">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media">
                    <a href="07_equipment-detail.html">
                      <img src="assets/img/equipment-2.jpg" alt="Standard Excavator 8T" />
                    </a>
                  </div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title">
                      <a href="07_equipment-detail.html">Standard Excavator 8T</a>
                    </div>

                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small>
                      </div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">₦425,000.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>₦50,000 / Day</li>
                        <li>₦100,000 / Week</li>
                        <li>₦425,000 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn">
                    <button routerLink="/products/1" class="uk-button uk-button-default uk-button-large uk-width-1-1"
                      type="button">
                      <span>Order Now</span>
                      <span data-uk-icon="arrow-right">

                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media">
                    <a href="07_equipment-detail.html">
                      <img src="assets/img/equipment-3.jpg" alt="Standard Excavator 8T" />
                    </a>
                  </div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title">
                      <a href="07_equipment-detail.html">Standard Excavator 8T</a>
                    </div>

                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small>
                      </div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">₦425,000.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>₦50,000 / Day</li>
                        <li>₦100,000 / Week</li>
                        <li>₦425,000 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn">
                    <button routerLink="/products/1" class="uk-button uk-button-default uk-button-large uk-width-1-1"
                      type="button">
                      <span>Order Now</span>
                      <span data-uk-icon="arrow-right">

                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media">
                    <a href="07_equipment-detail.html">
                      <img src="assets/img/equipment-1.jpg" alt="Standard Excavator 8T" />
                    </a>
                  </div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title">
                      <a href="07_equipment-detail.html">Standard Excavator 8T</a>
                    </div>

                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small>
                      </div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">₦425,000.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>₦50,000 / Day</li>
                        <li>₦100,000 / Week</li>
                        <li>₦425,000 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn">
                    <button routerLink="/products/1" class="uk-button uk-button-default uk-button-large uk-width-1-1"
                      type="button">
                      <span>Order Now</span>
                      <span data-uk-icon="arrow-right">

                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media">
                    <a href="07_equipment-detail.html">
                      <img src="assets/img/equipment-2.jpg" alt="Standard Excavator 8T" />
                    </a>
                  </div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title">
                      <a href="07_equipment-detail.html">Standard Excavator 8T</a>
                    </div>

                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small>
                      </div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">₦425,000.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>₦50,000 / Day</li>
                        <li>₦100,000 / Week</li>
                        <li>₦425,000 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn">
                    <button routerLink="/products/1" class="uk-button uk-button-default uk-button-large uk-width-1-1"
                      type="button">
                      <span>Order Now</span>
                      <span data-uk-icon="arrow-right">

                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top">

        </ul>
      </div>
    </div>
  </div>
</section>
