<div class="modal-body">
  <div class="col-12 pb-3 d-flex justify-content-between align-items-center">
    <h3 class="modal-title">Select your destination</h3>
    <button *ngIf="cartDetails" type="button" class="close border-0 fs-2" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="country">Country</label>
          <ng-select [items]="countries" bindLabel="name" bindValue="name"></ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
