<section class="s-news">
  <div class="uk-section uk-container">
    <div class="section-title --center">
      <span></span>
      <h3>Read Latest From Blog</h3>
    </div>
    <div class="section-content">
      <swiper class="swiper" [config]="config">
        <ng-template swiperSlide class="swiper-slide">
          <div class="new-item">
            <a class="new-item__box" href="blog-post.html">
              <div class="new-item__media">
                <img src="assets/img/new-item-1.jpg" alt="news">
              </div>
              <div class="new-item__body">
                <div class="new-item__title">
                  <span>[Rent Equipment]</span>
                  <h4>Basic Tips to Motivate Your Team and Increase
                    Production</h4>
                </div>
                <div class="new-item__date">March 12, 2021</div>
              </div>
            </a>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiper-slide">
          <div class="new-item">
            <a class="new-item__box" href="blog-post.html">
              <div class="new-item__media">
                <img src="assets/img/new-item-2.jpg" alt="news">
              </div>
              <div class="new-item__body">
                <div class="new-item__title">
                  <span>[Rent Equipment]</span>
                  <h4>Excavator Components & Parts Which You Should Know How to
                    Rent</h4>
                </div>
                <div class="new-item__date">March 12, 2021</div>
              </div>
            </a>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiper-slide">
          <div class="new-item">
            <a class="new-item__box" href="blog-post.html">
              <div class="new-item__media">
                <img src="assets/img/new-item-3.jpg" alt="news">
              </div>
              <div class="new-item__body">
                <div class="new-item__title">
                  <span>[Rent Equipment]</span>
                  <h4>Safe Driving Tips from Our Drivers and Techs to Yours
                    Warehouse</h4>
                </div>
                <div class="new-item__date">March 12, 2021</div>
              </div>
            </a>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</section>
