<header class="page-header" data-uk-sticky>
  <div class="uk-container-expand">
    <div class="page-header__inner">
      <div class="page-header__logo pt-3 col-6 col-md">
        <a class="logo" routerLink="/">
         <img [src]="layoutData?.headerLogo" alt="Heavy Duty Pub Logo">
        </a>
      </div>
      <div *ngIf="pages.length" class="page-header__mainmenu">
        <ul class="uk-navbar-nav" data-uk-navbar>
          <li *ngFor="let page of pages" [class.uk-active]="currentPage === page.label" class="uk-nav-sub">
            <a [routerLink]="['/' + page.route]" class="text-capitalize">
              <img #icon [src]="page.icon" (error)="icon.remove()">
              <span>
                {{ page.label.replace('-', ' ')
                }}</span></a>
            <div *ngIf="page.children" class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li *ngFor="let child of page.children">
                  <a [routerLink]="child.route" [innerHTML]="child.label"></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="page-header__search ms-3">
        <app-cart></app-cart>
      </div>
      <div class="page-header__contacts d-sm-none d-none d-md-block">
        <a class="contacts-block" href="tel:2348136179865">
          <span>Need Help? Call
            Us</span><strong>(+234) 081-3617-9865</strong></a>
      </div>
      <div class="page-header__mobile-menu-btn"><button data-uk-toggle="target: #offcanvas" type="button"><span
            data-uk-icon="menu"></span></button></div>
    </div>
  </div>
</header>
