<section class="container-fluid p-md-5 d-flex justify-content-center align-items-center">
  <form [formGroup]="form" class="col-12 col-md-10 col-xl-4 py-5">
    <h3>Login to Admin Dashboard</h3>
    <div class="row pb-5">
      <div class="col-12 mb-3">
        <label for="" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email address"
          formControlName="email"
          aria-describedby="helpId"
        />
        <small *ngIf="form.get('email')?.touched && form.get('email')?.errors && form.get('email')?.errors?.required" id="helpId" class="text-danger">
          Your email address is required to login
        </small>
        <small *ngIf="form.get('email')?.touched && form.get('email')?.errors && form.get('email')?.errors?.email"
          class="text-danger">
          Please enter a valid email address
        </small>
      </div>

      <div class="col-12 mb-4">
        <label for="" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter your password" formControlName="password"
          aria-describedby="pwdId" />
        <small *ngIf="form.get('password')?.touched && form.get('password')?.errors && form.get('password')?.errors?.required"
          id="pwdId" class="text-danger">
          Your password is required to login
        </small>
      </div>

      <div class="col-12">
        <button (click)="confirmLogin()" [disabled]="loggingIn" class="uk-button uk-button-secondary w-100 uk-button-large">
          <span *ngIf="!loggingIn">login</span>
          <span *ngIf="loggingIn">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="ms-2">
              checking...
            </span>
          </span>
        </button>
      </div>
    </div>
  </form>
</section>
