<section class="s-equipments">
  <div class="uk-section uk-container uk-container-large">
    <div *ngIf="!hideHead" class="section-title --center">
      <span></span>
      <h3>Asphalt</h3>
    </div>
    <div class="section-content">
      <div data-uk-slider>
        <div class="uk-position-relative" tabindex="-1">
          <ul class="uk-slider-items uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l">
            <li *ngFor="let product of asphaltProducts">
              <div class="equipment-item flex-grow-1 h-100">
                <div class="equipment-item__box d-flex flex-column justify-content-between h-100">
                  <div class="equipment-item__media">
                    <a [routerLink]="['/products/asphalts', 2]">
                      <img [src]="product.imageUrl" />
                    </a>
                  </div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title">
                      <a [routerLink]="['/products/asphalts', 2]">{{
                        product.name }}</a>
                      <article #desc [innerHTML]="product.description" class="text-truncate"></article>
                      <a class="btn- fw-normal fs-6" style="text-decoration: underline;"
                        (click)="toggleDescription(desc)">Read {{
                        desc.classList.contains('text-truncate') ? 'more' :
                        'less' }}</a>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                      <div class="col-12">
                        <ng-select *ngIf="product.brand" [items]="product.brand" appendTo=".s-equipments"
                          placeholder="Select manufaturer to see price" [clearable]="false" class="pb-2"
                          bindLabel="name" bindValue="price" (change)="handleBrandChange($event, product)"></ng-select>

                        <div *ngIf="!product.brand && product.meta" class="equipment-item__list">
                          <ul class="flex-column d-flex">
                            <li *ngFor="let item of product.meta | keyvalue" class="col-12">
                              <span class="text-capitalize">{{ item.key
                                }}</span>: {{ item.value }}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div
                        class="equipment-item__price pt-3 col-12 d-flex flex-row justify-content-between align-items-center flex-wrap gap-3">

                        <div class="equipment-item__price-current col-6 fs-6" *ngIf="product.price !== undefined && product.meta && product.meta.type !== 'service'">
                          ₦{{ product.price | number }} <span class="fw-normal">Per {{ product.meta.type }}</span>
                        </div>

                        <div class="col-4 d-flex flex-row justify-content-end" *ngIf="product.price !== undefined && product.meta && product.meta.type !== 'service'">
                          <button type="button" class="qty-btn" ngbTooltip="Decrease quantity"
                            [disabled]="product.qty === 1" (click)="dec(product)">-</button>
                          <input type="text" class="col-3 text-center border-0" readonly [value]="product.qty">
                          <button type="button" class="qty-btn" ngbTooltip="Increase quantity"
                            (click)="inc(product)">+</button>
                        </div>

                        <div class="col-12 d-flex justify-content-end">
                          <input type="text" inputmode=”numeric” pattern=”[0–9]*”>
                        </div>

                        <div class="equipment-item__price-current fs-6" *ngIf="product.price !== undefined || product.meta && product.meta.type === 'service'">
                          Amount: <span class="fw-normal">₦{{ (product.amount ? product.amount : product.price) |
                            number }}</span>
                        </div>

                        <div class="d-flex flex-row justify-content-end" *ngIf="product.price !== undefined || product.meta && product.meta.type === 'service'">
                          <button type="button" (click)="addToCart(product)" class="uk-button uk-button-default">
                            Add to Cart
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="equipment-item__btn">
                    <button class="uk-button uk-button-default uk-button-large uk-width-1-1" type="button">
                      <span>Buy Now</span>
                      <span data-uk-icon="arrow-right">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top">

        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 text-center">
    <a class="uk-button uk-button-danger uk-button-large" routerLink="/products/asphalts"
      data-uk-icon="arrow-right">Explore more</a>
  </div>
</section>
