<section class="s-latest-offers">
  <div class="uk-section-large uk-container uk-container-large py-5">
    <div class="section-title --center">
      <span></span>
      <h3 class="text-white">Asphalt</h3>
    </div>
    <div class="section-content">
      <div class="uk-grid uk-grid-small" data-uk-grid>
        <div>
          <div class="offer-box">
            <div class="offer-item col-12 col-md-6 d-flex flex-row gap-4">
              <!-- <div class="offer-media m-0 col-12 col-md-4">
                <img src="assets/img/offer-1.jpg" alt="offer-item-1">
              </div> -->
              <div class="offer-info m-0 col-12 text-center">
                <div class="offer-title">Binder Course</div>
                <div class="offer-intro">The binder course is an essential layer in asphalt pavement construction,
                  providing stability and durability to the road
                  surface. It acts as a binder between the surface course and the base layer, distributing traffic loads
                  and preventing
                  water penetration.
                  <br> <br>
                  <a routerLink="/services" class="uk-button uk-button-danger">
                    Request pricing
                  </a>
                </div>
              </div>
            </div>
            <div class="offer-item col-12 col-md-6 d-flex flex-row gap-4">
              <!-- <div class="offer-media m-0 col-12 col-md-4">
                            <img src="assets/img/offer-1.jpg" alt="offer-item-1">
                          </div> -->
              <div class="offer-info m-0 col-12 text-center">
                <div class="offer-title">Wearing Course</div>
                <div class="offer-intro">The wearing course, also known as the surface course, is the top layer of asphalt pavement that directly interacts with
                traffic. It provides skid resistance, smoothness, and durability to the road surface, protecting the underlying layers
                from wear and tear.
                  <br> <br>
                  <a routerLink="/services" class="uk-button uk-button-danger">
                    Request pricing
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
