<section class="s-latest-offers">
  <div class="uk-section-large uk-container uk-container-large">
    <div class="section-title --center">
      <span></span>
      <h3>Latest Featured & Offers</h3>
    </div>
    <div class="section-content">
      <div class="uk-grid uk-grid-small uk-child-width-1-2@l" data-uk-grid>
        <div>
          <div class="offer-box">
            <div class="offer-item">
              <div class="offer-media"><img src="assets/img/offer-1.jpg" alt="offer-item-1"></div>
              <div class="offer-info">
                <div class="offer-title">New Excavator Rental</div>
                <div class="offer-intro">Allamco laboris nisiut aliquip labore magna</div>
              </div>
              <div class="offer-price">Starts <span>$45</span> / Day</div>
            </div>
            <div class="offer-item">
              <div class="offer-media"><img src="assets/img/offer-2.jpg" alt="offer-item-2"></div>
              <div class="offer-info">
                <div class="offer-title">Rent ForkLift At Lowest</div>
                <div class="offer-intro">Enim ad minim veniam quis exercitation strud</div>
              </div>
              <div class="offer-price">Starts <span>$60</span> / Day</div>
            </div>
            <div class="offer-item">
              <div class="offer-media"><img src="assets/img/offer-3.jpg" alt="offer-item-3"></div>
              <div class="offer-info">
                <div class="offer-title">Get Generators At 50% Off</div>
                <div class="offer-intro">Enim ads minim veniam quis nostrud</div>
              </div>
              <div class="offer-price">Starts <span>$80</span> / Day</div>
            </div>
          </div>
        </div>
        <div>
          <div class="offer-box">
            <div class="offer-item">
              <div class="offer-media"><img src="assets/img/offer-4.jpg" alt="offer-item-1"></div>
              <div class="offer-info">
                <div class="offer-title">New Excavator Rental</div>
                <div class="offer-intro">Allamco laboris nisiut aliquip labore magna</div>
              </div>
              <div class="offer-price">Starts <span>$45</span> / Day</div>
            </div>
            <div class="offer-item">
              <div class="offer-media"><img src="assets/img/offer-5.jpg" alt="offer-item-2"></div>
              <div class="offer-info">
                <div class="offer-title">Rent ForkLift At Lowest</div>
                <div class="offer-intro">Enim ad minim veniam quis exercitation strud</div>
              </div>
              <div class="offer-price">Starts <span>$60</span> / Day</div>
            </div>
            <div class="offer-item">
              <div class="offer-media"><img src="assets/img/offer-6.jpg" alt="offer-item-3"></div>
              <div class="offer-info">
                <div class="offer-title">Get Generators At 50% Off</div>
                <div class="offer-intro">Enim ads minim veniam quis nostrud</div>
              </div>
              <div class="offer-price">Starts <span>$80</span> / Day</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
