<div class="page-head">
  <div class="page-head__bg" style="background-image: url(assets/img/bg_page-about.jpg)">
    <div class="page-head__title">About Company</div>
    <div class="page-head__breadcrumb">
      <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><span>About Company</span></li>
      </ul>
    </div>
  </div>
</div>
<section class="s-about">
  <div class="uk-section uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
      <div class="uk-text-center"><img src="assets/img/img-about.png" alt="image"></div>
      <div>
        <div class="section-title"><span>[Company Overview]</span>
          <h3>Helping the Industry with 10k+ Equipments available for Rentals Anytime</h3>
        </div>
        <div class="section-content">
          <p>Kiusmod tempor sed incididunts labore sed dolor mag aliqua enimad mini veniam quis nostrud exercitation
            ullamco labores nisi ut aliquip ex ea reprehen deritin voluptate.</p>
          <p>Lorem ipsum dolor tempor amety consecteur adipisicing elits do eiusmod tempor incididunt aliqua.</p>
          <div class="s-about__btns" data-uk-margin><a class="uk-button uk-button-danger uk-button-large"
              href="11_about-us.html" data-uk-icon="arrow-right">Get started</a><a class="uk-icon-button ico_mission"
              href="11_about-us.html" data-uk-tooltip="title: Our Mission; pos: bottom"></a><a
              class="uk-icon-button ico_track" href="11_about-us.html"
              data-uk-tooltip="title: Our Mission; pos: bottom"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="s-features">
  <div class="uk-section uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
      <div>
        <div class="section-title"><small class="color-accent">[30 Years Of Equipment Rental Expertise]</small>
          <h3>Provide Rent Solutions to Utilize Industry Assistance</h3>
        </div>
      </div>
      <div>
        <div class="section-content"><span>Kiusmod tempor sed incididunts labore sed dolor mag aliqua enimad mini
            veniam quis nostrud exercitation ullamco labores nisi ut aliquip ex ea reprehen deritin voluptate.</span>
        </div>
      </div>
    </div>
    <div class="feature-items">
      <div data-uk-slider>
        <div class="uk-position-relative" tabindex="-1">
          <ul class="uk-grid uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l">
            <li>
              <div class="feature-item">
                <div class="feature-item__box">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-1.png" alt="image"></div>
                  <div class="feature-item__title">Comprehensive<br> Rental Fleet</div>
                  <div class="feature-item__text">Excepteur sint occaecat cupidaty in culpa qu officia deserunt
                    mollits Sed ut perspiciatis unde.</div>
                  <div class="feature-item__more"><a href="equipment-detail.html"><span
                        data-uk-icon="arrow-right"></span></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-item">
                <div class="feature-item__box">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-2.png" alt="image"></div>
                  <div class="feature-item__title">Prepared to Serve<br> Your Needs</div>
                  <div class="feature-item__text">Excepteur sint occaecat cupidaty in culpa qu officia deserunt
                    mollits Sed ut perspiciatis unde.</div>
                  <div class="feature-item__more"><a href="equipment-detail.html"><span
                        data-uk-icon="arrow-right"></span></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-item">
                <div class="feature-item__box">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-3.png" alt="image"></div>
                  <div class="feature-item__title">Equipment Perform<br> at Top Levels</div>
                  <div class="feature-item__text">Excepteur sint occaecat cupidaty in culpa qu officia deserunt
                    mollits Sed ut perspiciatis unde.</div>
                  <div class="feature-item__more"><a href="equipment-detail.html"><span
                        data-uk-icon="arrow-right"></span></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
</section>
<section class="s-video">
  <div class="s-video__inner">
    <div class="s-video__desc">
      <div class="section-title"><span>[30 Years Of Equipment Rental Expertise]</span>
        <h3>Provide Solutions to Utilize Industry and Assistance for Better Working</h3>
      </div>
      <div class="section-content"><a class="more" href="11_about-us.html"><span
            data-uk-icon="arrow-right"></span><span>see how it works</span></a></div>
    </div>
    <div class="s-video__img" data-uk-lightbox="video-autoplay: true">
      <div class="uk-cover-container"><img src="assets/img/img-video.jpg" alt="img-video" data-uk-cover><canvas
          width="960" height="400"></canvas></div><a class="s-video__link" href="https://youtu.be/IUYs3mYgEPI"
        data-attrs="width: 1280; height: 720;" data-caption="YouTube"><img src="assets/img/ico-play.png"
          alt="image"></a>
    </div>
  </div>
</section>
<section class="s-team">
  <div class="uk-section uk-container">
    <div class="section-title --center"><span>[Rent The Top Performing Equipments]</span>
      <h3>Meet Our Team Members</h3>
    </div>
    <div class="section-content">
      <div class="js-team-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="team-user">
                <div class="team-user__photo"><img src="assets/img/team-user-1.jpg" alt="team"></div>
                <div class="team-user__body">
                  <div class="team-user__name">William Mason</div>
                  <div class="team-user__position">CEO & Founder</div>
                  <div class="team-user__social">
                    <ul class="social">
                      <li class="social__item"><a class="social__link" href="http://www.twitter.com"
                          target="_blank"><span data-uk-icon="twitter"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.facebook.com"
                          target="_blank"><span data-uk-icon="facebook"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.linkedin.com"
                          target="_blank"><span data-uk-icon="linkedin"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.instagram.com"
                          target="_blank"><span data-uk-icon="instagram"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-user">
                <div class="team-user__photo"><img src="assets/img/team-user-2.jpg" alt="team"></div>
                <div class="team-user__body">
                  <div class="team-user__name">James Danieyl</div>
                  <div class="team-user__position">Rental Manager</div>
                  <div class="team-user__social">
                    <ul class="social">
                      <li class="social__item"><a class="social__link" href="http://www.twitter.com"
                          target="_blank"><span data-uk-icon="twitter"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.facebook.com"
                          target="_blank"><span data-uk-icon="facebook"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.linkedin.com"
                          target="_blank"><span data-uk-icon="linkedin"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.instagram.com"
                          target="_blank"><span data-uk-icon="instagram"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-user">
                <div class="team-user__photo"><img src="assets/img/team-user-3.jpg" alt="team"></div>
                <div class="team-user__body">
                  <div class="team-user__name">Amelia Grace</div>
                  <div class="team-user__position">Senior Member</div>
                  <div class="team-user__social">
                    <ul class="social">
                      <li class="social__item"><a class="social__link" href="http://www.twitter.com"
                          target="_blank"><span data-uk-icon="twitter"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.facebook.com"
                          target="_blank"><span data-uk-icon="facebook"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.linkedin.com"
                          target="_blank"><span data-uk-icon="linkedin"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.instagram.com"
                          target="_blank"><span data-uk-icon="instagram"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-user">
                <div class="team-user__photo"><img src="assets/img/team-user-4.jpg" alt="team"></div>
                <div class="team-user__body">
                  <div class="team-user__name">Taylor Benson</div>
                  <div class="team-user__position">Senior Member</div>
                  <div class="team-user__social">
                    <ul class="social">
                      <li class="social__item"><a class="social__link" href="http://www.twitter.com"
                          target="_blank"><span data-uk-icon="twitter"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.facebook.com"
                          target="_blank"><span data-uk-icon="facebook"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.linkedin.com"
                          target="_blank"><span data-uk-icon="linkedin"></span></a></li>
                      <li class="social__item"><a class="social__link" href="http://www.instagram.com"
                          target="_blank"><span data-uk-icon="instagram"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="s-stats">
  <div class="uk-container uk-container-xlarge">
    <div class="uk-grid uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@s" data-uk-grid>
      <div>
        <div class="stat-item">
          <div class="stat-item__box">
            <h6 class="stat-item__title">Rental Orders</h6><span class="stat-item__value">3.4k</span>
            <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="stat-item">
          <div class="stat-item__box">
            <h6 class="stat-item__title">Experienced Team</h6><span class="stat-item__value">125+</span>
            <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="stat-item">
          <div class="stat-item__box">
            <h6 class="stat-item__title">Customer Reviews</h6><span class="stat-item__value">3.6k+</span>
            <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="stat-item">
          <div class="stat-item__box">
            <h6 class="stat-item__title">Verified Locations</h6><span class="stat-item__value">150+</span>
            <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
