<div class="page-head">
  <div
    class="page-head__bg"
    style="background-image: url(assets/img/bg_page-about.jpg)"
  >
    <div class="d-block text-center">
      <div class="page-head__title">Exclusive Services</div>
      <p class="description text-white">
        Explore our exclusive range of services tailored to meet your needs.
      </p>
    </div>
    <div class="page-head__breadcrumb">
      <ul class="uk-breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li><span>Services</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="page-content">
  <section class="section-services">
    <div class="container">
      <div class="row">
        <!-- Single Service -->
        <div
          *ngFor="let service of servicesData?.servicesList"
          class="col-md-6 col-lg-6"
        >
          <div
            class="single-service"
            role="link"
            [style]="{ 'background-image': 'url(' + service.image.asset.url + ')' }"
          >
            <div
              (click)="goToRoute('/services/' + service.link)"
              class="content"
            >
              <h3 class="title" [innerHTML]="service.title"></h3>
              <p class="description text-truncate" [innerHTML]="service.description[0].children[0].text"></p>
            </div>
            <div
              (click)="goToRoute('/services/' + service.link)"
              role="link"
              class="veil"
            ></div>
          </div>
        </div>
        <!-- / End Single Service -->
      </div>
    </div>
  </section>
</div>
