<div class="page-head">
  <div class="page-head__bg" style="background-image: url(assets/img/bg_page-about.jpg)">
    <div class="page-head__title">Our Services</div>
    <div class="page-head__breadcrumb">
      <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><span>Services</span></li>
      </ul>
    </div>
  </div>
</div>
<section class="s-features">
  <div class="uk-section uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
      <div>
        <div class="section-title"><small class="color-accent">[30 Years Of Equipment Rental Expertise]</small>
          <h3>Provide Rent Solutions to Utilize Industry Assistance</h3>
        </div>
      </div>
      <div>
        <div class="section-content"><span>Kiusmod tempor sed incididunts labore sed dolor mag aliqua enimad mini
            veniam quis nostrud exercitation ullamco labores nisi ut aliquip ex ea reprehen deritin voluptate.</span>
        </div>
      </div>
    </div>
    <div class="feature-items">
      <div data-uk-slider>
        <div class="uk-position-relative" tabindex="-1">
          <ul class="uk-grid uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l">
            <li>
              <div class="feature-item">
                <div class="feature-item__box">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-1.png" alt="image"></div>
                  <div class="feature-item__title">Comprehensive<br> Rental Fleet</div>
                  <div class="feature-item__text">Excepteur sint occaecat cupidaty in culpa qu officia deserunt
                    mollits Sed ut perspiciatis unde.</div>
                  <div class="feature-item__more"><a href="equipment-detail.html"><span
                        data-uk-icon="arrow-right"></span></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-item">
                <div class="feature-item__box">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-2.png" alt="image"></div>
                  <div class="feature-item__title">Prepared to Serve<br> Your Needs</div>
                  <div class="feature-item__text">Excepteur sint occaecat cupidaty in culpa qu officia deserunt
                    mollits Sed ut perspiciatis unde.</div>
                  <div class="feature-item__more"><a href="equipment-detail.html"><span
                        data-uk-icon="arrow-right"></span></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-item">
                <div class="feature-item__box">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-3.png" alt="image"></div>
                  <div class="feature-item__title">Equipment Perform<br> at Top Levels</div>
                  <div class="feature-item__text">Excepteur sint occaecat cupidaty in culpa qu officia deserunt
                    mollits Sed ut perspiciatis unde.</div>
                  <div class="feature-item__more"><a href="equipment-detail.html"><span
                        data-uk-icon="arrow-right"></span></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
</section>

<section class="s-stats">
  <div class="uk-container uk-container-xlarge">
    <div class="uk-grid uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@s" data-uk-grid>
      <div>
        <div class="stat-item">
          <div class="stat-item__box">
            <h6 class="stat-item__title">Rental Orders</h6><span class="stat-item__value">3.4k</span>
            <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="stat-item">
          <div class="stat-item__box">
            <h6 class="stat-item__title">Experienced Team</h6><span class="stat-item__value">125+</span>
            <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="stat-item">
          <div class="stat-item__box">
            <h6 class="stat-item__title">Customer Reviews</h6><span class="stat-item__value">3.6k+</span>
            <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="stat-item">
          <div class="stat-item__box">
            <h6 class="stat-item__title">Verified Locations</h6><span class="stat-item__value">150+</span>
            <p class="stat-item__text">Pioneer of the equipment rental industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
