<header class="page-header" data-uk-sticky>
  <div class="uk-container-expand">
      <div class="page-header__inner">
          <div class="page-header__logo">
              <a class="logo" href="index.html">
                  <h2 class="m-0">Heavy Duty Pub</h2>
              </a>
          </div>
          <div class="page-header__mainmenu">
              <ul class="uk-navbar-nav" data-uk-navbar>
                  <li class="uk-active">
                      <a href="index.html"><span>Home</span></a>
                  </li>
                  <li>
                      <a href="equipments.html"><span>Equipments</span></a>
                  </li>
                  <li>
                      <a href="index.html"><span>Services</span></a>
                  </li>
                  <li>
                      <a href="about-us.html"><span>About</span></a>
                  </li>
                  <li>
                      <a href="news.html"><span>News</span></a>
                  </li>
                  <li>
                      <a href="contact-us.html"><span>Contact</span></a>
                  </li>
              </ul>
          </div>
          <div class="page-header__search">
              <div class="search-full"><a href="#modal-search-full" data-uk-search-icon data-uk-toggle></a>
                  <div class="uk-modal-full uk-modal" id="modal-search-full" data-uk-modal>
                      <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport><button class="uk-modal-close-full" type="button" data-uk-close></button>
                          <form class="uk-search uk-search-large"><input class="uk-search-input uk-text-center" type="search" placeholder="Search" autofocus></form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="page-header__contacts"><a class="contacts-block" href="tel:17881239911"><span>Need Help? Call Us</span><strong>(+1) 788-123-9911</strong></a></div>
          <div class="page-header__mobile-menu-btn"><button data-uk-toggle="target: #offcanvas" type="button"><span data-uk-icon="menu"></span></button></div>
      </div>
  </div>
</header>
