<section class="s-about">
  <div class="uk-section uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
      <div class="uk-text-center"><img src="assets/img/img-about.png" alt="image"></div>
      <div>
        <div class="section-title"><span>About Us</span>
          <h3>Discover Our Commitment to Excellence and Industry Expertise</h3>
        </div>
        <div class="section-content">
          <p>At Heavy Duty Pub, we are dedicated to serving the needs of contractors and industry players by providing
            access to high-quality equipment options available for rent at any time. Our mission is to
            simplify the process of sourcing equipment and tools for construction projects, allowing contractors to
            focus on their work without the hassle of equipment procurement.</p>
          <p>With a focus on reliability and convenience, we strive to be the go-to destination for contractors seeking
            equipment rentals.</p>
          <div class="s-about__btns" data-uk-margin>
            <a class="uk-button uk-button-danger uk-button-large" routerLink="/about-us"
              data-uk-icon="arrow-right">Discover more</a>
            <a class="uk-icon-button ico_mission" routerLink="/about-us" [queryParams]="{ id: 'mission' }"
              data-uk-tooltip="title: Our Mission; pos: top"></a>
            <a class="uk-icon-button ico_track" routerLink="/about-us" [queryParams]="{ id: 'vision' }"
              data-uk-tooltip="title: Our Vision; pos: top"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
