<footer class="page-footer">
  <div class="page-footer__top">
    <div class="uk-container uk-container-large">
      <div class="page-footer__inner">
        <div class="page-footer__contacts">
          <a class="footer-logo" href="/">
            <img [src]="layoutData?.footerLogo" alt="Heavy Duty Pub Logo">
          </a>
          <p>Paving Success, One Road at a Time.</p>
          <ul class="contacts-list">
            <li>
              <a href="https://maps.app.goo.gl/CVSkpLUXzRYs7zo37" target="_blank">
                <span data-uk-icon="location">
                </span>
                <span>7 Bodunrin Caulcrick Close, Ogba, Lagos State.</span>
              </a>
            </li>
            <li>
              <a href="tel:2348136179865">
                <span data-uk-icon="receiver">

                </span>
                <span>+(234) 081-3617-9865</span>
              </a>
            </li>
            <li>
              <a href="mailto:support@heavydutypub.com">
                <span data-uk-icon="mail">
                </span>
                <span>support&#64;heavydutypub.com</span>
              </a>
            </li>
          </ul>
          <ul class="social">
            <li>
              <a href="http://www.facebook.com/" target="_blank">
                <span data-uk-icon="facebook">

                </span>
              </a>
            </li>
            <li>
              <a href="http://www.twitter.com/" target="_blank">
                <span data-uk-icon="twitter">

                </span>
              </a>
            </li>
            <li>
              <a href="http://www.instagram.com/" target="_blank">
                <span data-uk-icon="instagram">

                </span>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/" target="_blank">
                <span data-uk-icon="linkedin">

                </span>
              </a>
            </li>
            <li>
              <a href="http://www.youtube.com/" target="_blank">
                <span data-uk-icon="youtube">

                </span>
              </a>
            </li>
          </ul>
        </div>
        <ng-container>
          <div class="page-footer__menu">
            <h4>Our Services</h4>
            <ul class="uk-nav">
              <li>
                <a routerLink="/services">Project Management</a>
              </li>
              <li>
                <a routerLink="/services">Design</a>
              </li>
              <li>
                <a routerLink="/services">Road Rehabilitaion</a>
              </li>
              <li>
                <a routerLink="/services">Full Construction</a>
              </li>
              <li>
                <a routerLink="/services">Street Light Installation</a>
              </li>
              <li>
                <a routerLink="/services">Others</a>
              </li>
            </ul>
          </div>
          <div class="page-footer__menu">
            <h4>COMPANY INFO</h4>
            <ul class="uk-nav">
              <li>
                <a routerLink="/about">About Heavy Duty Pub</a>
              </li>
              <li>
                <a routerLink="/news">Latest News</a>
              </li>
              <li>
                <a routerLink="#">Terms & Conditions</a>
              </li>
            </ul>
          </div>
          <div class="page-footer__news">
            <h4>Latest News</h4>
            <ul class="news-list">
              <li>
                <div class="news-list-item">
                  <img class="news-list-item__img" src="assets/img/news-item-1.jpg" alt="news">
                  <div class="news-list-item__info">
                    <span class="news-list-item__date">March 12, 2021</span>
                    <a class="news-list-item__title" [routerLink]="['/news', 1]">Safe
                      Driving Tips from Our Drivers ...</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="news-list-item">
                  <img class="news-list-item__img" src="assets/img/news-item-2.jpg" alt="news">
                  <div class="news-list-item__info">
                    <span class="news-list-item__date">March 12, 2021</span>
                    <a class="news-list-item__title" [routerLink]="['/news', 1]">Basic
                      Tips to Motivate Your Team ...</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="page-footer__bottom">
    <div class="uk-container uk-container-large">
      <div class="page-footer__copy">
        <span>(c) 2024 <b>Heavy Duty Pub</b></span>
        <a routerLink="#">Terms &
          Conditions</a> <br><br>
          <div [innerHTML]="layoutData?.footerText"></div>
      </div>
    </div>
  </div>
</footer>
<div id="offcanvas" data-uk-offcanvas="mode: reveal; overlay: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-flex-between">
    <button class="uk-offcanvas-close" type="button" data-uk-close>
    </button>
    <div class="uk-margin-bottom">
      <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
        <li *ngFor="let page of pages" class="uk-offcanvas-close" data-uk-close
          [class.uk-active]="currentPage === page.label">
          <a [routerLink]="['/' + page.route]" class="text-capitalize">
            <img #icon [src]="page.icon" (error)="icon.remove()">
            <span>{{ page.label.replace('-',' ') }}</span>
          </a>
          <ul *ngIf="page.children" class="uk-nav-sub d-flex flex-column gap-4 mt-3">
            <li *ngFor="let child of page.children"><a [routerLink]="child.route">{{ child.label.replace('-',' ') }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="uk-margin">
      <a class="contacts-block" href="tel:2348136179865">
        <span>Need Help? Call
          Us</span><strong>(+234) 081-3617-9865</strong></a>
    </div>
  </div>
</div>
