<div class="page-content">
  <div class="uk-section uk-container uk-container-large">
    <div class="col-12"><div class="col-12 py-3">
        <h1>Porta Cabins</h1>
      </div>
      <div class="equipment-head">
        <div><span>Showing results <b>1 - 5</b> of total <b>5</b></span></div>
        <div>
          <!-- <div class="sort-box"><span>Sort By:</span><select class="js-select">
                  <option value="Price: Low to High">Price: Low to High</option>
                  <option value="Price: Low to High">Price: Low to High</option>
                  <option value="Price: Low to High">Price: Low to High</option>
                </select></div> -->
          <div class="view-box">
            <!-- <a class="view-item" [class.active]="view === 'list'"
              (click)="changeView('list')">
              <img src="assets/img/view-list.svg" alt="icon" data-uk-svg>
            </a> -->
            <a class="view-item" [class.active]="view === 'grid'"
              (click)="changeView('grid')">
              <img src="assets/img/view-grid.svg" alt="icon" data-uk-svg>
            </a>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid>
        <div *ngIf="view === 'grid'" class="uk-grid uk-child-width-1-2@s"
          data-uk-grid>
          <div *ngFor="let equipment of Equipments">
            <div class="equipment-item">
              <div class="equipment-item__box">
                <div class="equipment-item__media">
                  <a [routerLink]="['products/equipments', equipment.id]">
                    <img [src]="equipment.imageUrl" [alt]="equipment.name" />
                  </a>
                </div>
                <div class="equipment-item__info">
                  <div class="equipment-item__title">
                    <a [routerLink]="['products', equipment.id]">{{ equipment.name }}</a>
                    <article #desc [innerHTML]="equipment.description" class="text-truncate"></article>
                      <!-- <a class="btn- fw-normal fs-6" style="text-decoration: underline;" (click)="toggleDescription(desc)">Read {{
                        desc.classList.contains('text-truncate') ? 'more' :
                        'less' }}</a> -->
                  </div>

                  <div class="equipment-item__list">
                    <ul>
                      <li *ngFor="let meta of equipment.meta | keyvalue">{{ meta.value }}</li>
                    </ul>
                  </div>
                  <div class="equipment-item__prices pt-0">
                    <ng-select *ngIf="equipment.prices" [items]="equipment.prices"
                      placeholder="Select rent duration" bindLabel="" bindValue="value" [clearable]="false" class="pb-2"
                      (change)="handlePriceChange($event, equipment)"></ng-select>
                  </div>
                  <div
                    class="equipment-item__price pt-3 col-12 d-flex flex-row justify-content-between align-items-center flex-wrap gap-3">
                    <div class="equipment-item__price-current col-6 fs-6"
                      *ngIf="equipment.amount !== undefined && equipment.meta && equipment.meta.type !== 'service'">
                      ₦{{ findSelectedPriceAmount(equipment.prices) | number }} <span class="fw-normal">Per {{
                        findSelectedPrice(equipment.prices) }}</span>
                    </div>

                    <div class="col-4 d-flex flex-row justify-content-end"
                      *ngIf="equipment.amount !== undefined && equipment.meta && equipment.meta.type !== 'service'">
                      <button type="button" class="qty-btn" ngbTooltip="Increase quantity" [disabled]="equipment.qty === 1"
                        (click)="dec(equipment)">-</button>
                      <input type="text" class="col-3 text-center border-0" readonly [value]="equipment.qty">
                      <button type="button" class="qty-btn" ngbTooltip="Decrease quantity" (click)="inc(equipment)">+</button>
                    </div>

                    <div class="equipment-item__price-current fs-6"
                      *ngIf="equipment.amount !== undefined || equipment.meta && equipment.meta.type === 'service'">
                      Amount: <span class="fw-normal">₦{{ (equipment.amount ? equipment.amount : equipment.amount) |
                        number }}</span>
                    </div>

                    <div class="d-flex flex-row justify-content-end"
                      *ngIf="equipment.amount !== undefined || equipment.meta && equipment.meta.type === 'service'">
                      <button type="button" (click)="addToCart(equipment)" class="uk-button uk-button-default">
                        Add to Cart
                      </button>
                    </div>
                  </div>
                  <div class="equipment-item__prices pt-2">
                    <ul>
                      <li *ngFor="let price of equipment.prices" class="text-capitalize">₦{{ price.value | number }}/{{ price.label }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="equipment-item__btn">
                  <button routerLink="/products/equipments/{{ equipment.id }}"
                    class="uk-button uk-button-default uk-button-large uk-width-1-1" type="button">
                    <span>Order Now</span>
                    <span data-uk-icon="arrow-right"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="view === 'list'" class="uk-list col-12">
          <div *ngFor="let equipment of Equipments" class="rental-item">
            <div class="rental-item__media">
              <img [src]="equipment.imageUrl" [alt]="equipment.name">
            </div>
            <div class="rental-item__desc">
              <div class="rental-item__title">{{ equipment.name }}</div>
              <div class="rental-item__specifications">
                <ul
                  class="uk-list uk-list-disc uk-column-1-2@xl uk-column-1-2@s">
                  <li *ngFor="let meta of equipment.meta | keyvalue">{{ meta.value }}</li>
                </ul>
              </div>
            </div>
            <div class="rental-item__price">
              <div class="rental-item__price-box">
                <div class="rental-item__price-current">₦{{ equipment.prices.default | number }}</div>
              </div>
              <div class="rental-item__price-btn"><a
                  class="uk-button col-12 uk-button-danger uk-button-large"
                  [routerLink]="['/products/equipments', equipment.id]">Book now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="uk-pagination uk-flex-center uk-margin-large-top">
        <li class="uk-active"><span>1</span></li>
        <!-- <li><a href="#">2</a></li>
            <li><a href="#">3</a></li> -->
      </ul>
    </div>

  </div>
</div>
