<div class="page-head">
  <div class="page-head__bg"
    style="background-image: url(assets/img/bg_page-about.jpg)">
    <div class="d-block text-center">
      <div class="page-head__title">
        Exclusive Services
      </div>
      <p class="description text-white">Explore our exclusive range of services tailored to meet your needs.</p>
    </div>
    <div class="page-head__breadcrumb">
      <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><span>Services</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="page-content">
  <section class="section-services">
    <div class="container">
      <div class="row">
        <!-- Single Service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service" style="background-image: url(assets/img/hero-slider-2.jpg);">
            <div class="veil"></div>
            <div class="content">
              <h3 class="title">Road Construction</h3>
              <p class="description">Our road construction services ensure durable and high-quality infrastructure. We use cutting-edge technology and materials to deliver exceptional results.</p>
            </div>
          </div>
        </div>
        <!-- / End Single Service -->
        <!-- Single Service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service" style="background-image: url(assets/img/project-mgt.jpg);">
            <div class="content">
              <h3 class="title">Project Management</h3>
              <p class="description">Our project management services ensure efficient planning and execution of construction projects. We prioritize timelines and budgets to deliver successful outcomes.</p>
            </div>
            <div class="veil"></div>
          </div>
        </div>
        <!-- / End Single Service -->
        <!-- Single Service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service" style="background-image: url(assets/img/design.jpg);">
            <div class="content">
              <h3 class="title">Design Services</h3>
              <p class="description">Our design services offer innovative solutions for infrastructure projects. We blend creativity with functionality to create designs that exceed expectations.</p>
            </div>
            <div class="veil"></div>
          </div>
        </div>
        <!-- / End Single Service -->
        <!-- Single Service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service" style="background-image: url(assets/img/lane-marking.jpg);">
            <div class="content">
              <h3 class="title">Lane Markings</h3>
              <p class="description">Our lane marking services ensure clear and visible road markings for enhanced safety. We use durable materials and precision techniques to create reliable lane markings.</p>
            </div>
            <div class="veil"></div>
          </div>
        </div>
        <!-- / End Single Service -->
        <!-- Single Service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service" style="background-image: url(assets/img/drainage.jpg);">
            <div class="content">
              <h3 class="title">Drainage Solutions</h3>
              <p class="description">Our drainage solutions address water management challenges effectively. We provide desilting, repairs, and installations to ensure optimal drainage systems.</p>
            </div>
            <div class="veil"></div>
          </div>
        </div>
        <!-- / End Single Service -->
        <!-- Single Service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service" style="background-image: url(assets/img/construction-solution.jpg);">
            <div class="content">
              <h3 class="title">Construction Solutions</h3>
              <p class="description">Our full construction services cover every aspect of infrastructure development. From planning to execution, we ensure excellence in every phase of construction projects.</p>
            </div>
            <div class="veil"></div>
          </div>
        </div>
        <!-- / End Single Service -->
      </div>
    </div>
  </section>
</div>
