 <div class="page-head">
    <div class="page-head__bg" style="background-image: url(assets/img/bg_page-ren.jpg)">
      <div class="page-head__title">Get “Excavators” On Rent</div>
      <div class="page-head__breadcrumb">
        <ul class="uk-breadcrumb">
          <li><a href="/">Home</a></li>
          <li><span>Get “Excavators” On Rent</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="uk-section uk-container uk-container-large">
      <div class="uk-grid" data-uk-grid>
        <div class="uk-width-1-3@l">
          <div class="uk-hidden@l uk-margin-small-bottom"><button
              class="js-more-filter uk-button uk-button-default uk-button-large uk-width-1-1"
              type="button"><span>Filters</span><span data-uk-icon="settings"></span></button></div>
          <aside class="js-filter-content sidebar --left">
            <div class="widjet widjet-filter">
              <h4 class="widjet__title">Refine Search</h4>
              <form class="uk-form-stacked" action="#!">
                <div class="uk-margin-small"><label class="uk-form-label">Select Category</label>
                  <div class="uk-form-controls"><select class="js-select">
                      <option value="Excavators">Excavators</option>
                      <option value="Excavators">Excavators</option>
                      <option value="Excavators">Excavators</option>
                    </select></div>
                </div>
                <div class="uk-margin-small"><label class="uk-form-label">Select Equipment</label>
                  <div class="uk-form-controls"><select class="js-select">
                      <option value="Large Excavator 20T">Large Excavator 20T</option>
                      <option value="Large Excavator 20T">Large Excavator 20T</option>
                      <option value="Large Excavator 20T">Large Excavator 20T</option>
                    </select></div>
                </div>
                <div class="uk-margin-small"><label class="uk-form-label">Pickup Location</label>
                  <div class="uk-form-controls uk-inline uk-width-1-1"><span class="uk-form-icon uk-form-icon-flip"
                      uk-icon="icon: location"></span><input class="uk-width-1-1" type="text"
                      placeholder="Newyork MainLand"></div>
                </div>
                <div class="uk-margin-small"><label class="uk-form-label">Pickup Location</label>
                  <div class="uk-form-controls uk-inline uk-width-1-1"><span class="uk-form-icon uk-form-icon-flip"
                      uk-icon="icon: calendar"></span><input class="js-date uk-width-1-1" type="text"
                      placeholder="20/08/2021 to 25/08/2021" data-language="en" data-multiple-dates="true"
                      data-multiple-dates-separator=" to "></div>
                </div>
              </form>
            </div>
            <div class="widjet widjet-category">
              <h4 class="widjet__title">Subcategories</h4>
              <ul class="list-category">
                <li><a href="#">Mini Excavator Upto 5T</a></li>
                <li><a href="#">Standard Excavator 5T to 20T</a></li>
                <li><a href="#">Large Excavator 20T</a></li>
                <li><a href="#">Long Reach Excavator</a></li>
                <li><a href="#">Special Attachment Excavator</a></li>
                <li><a href="#">Zero Emission Excavator</a></li>
              </ul>
            </div>
            <div class="widjet widjet-price">
              <h4 class="widjet__title">Price<small>(Per Day)</small></h4>
              <div class="range-box"><input class="js-range-slider" id="range-price" type="text" name="price" value="">
                <div class="range-box__desc"><span>Range from</span><input id="range-price-from"
                    type="text"><span>To</span><input id="range-price-to" type="text"></div>
              </div>
            </div>
            <div class="widjet widjet-price">
              <h4 class="widjet__title">Operating Weight<small>(Ton)</small></h4>
              <div class="range-box"><input class="js-range-slider" id="range-weight" type="text" name="weight"
                  value="">
                <div class="range-box__desc"><span>Range from</span><input id="range-weight-from"
                    type="text"><span>To</span><input id="range-weight-to" type="text"></div>
              </div>
            </div>
            <div class="widjet widjet-price">
              <h4 class="widjet__title">Digging Depth<small>(Meter)</small></h4>
              <div class="range-box"><input class="js-range-slider" id="range-meter" type="text" name="meter" value="">
                <div class="range-box__desc"><span>Range from</span><input id="range-meter-from"
                    type="text"><span>To</span><input id="range-meter-to" type="text"></div>
              </div>
            </div>
          </aside>
        </div>
        <div class="uk-width-2-3@l">
          <div class="equipment-head">
            <div><span>Showing results <b>1 - 6</b> of total <b>25</b></span></div>
            <div>
              <div class="sort-box"><span>Sort By:</span><select class="js-select">
                  <option value="Price: Low to High">Price: Low to High</option>
                  <option value="Price: Low to High">Price: Low to High</option>
                  <option value="Price: Low to High">Price: Low to High</option>
                </select></div>
              <div class="view-box"><a class="view-item" href="05_all-equipments-list.html"><img
                    src="assets/img/view-list.svg" alt="icon" data-uk-svg></a><a class="view-item active"
                  href="06_all-equipments-grid.html"><img src="assets/img/view-grid.svg" alt="icon" data-uk-svg></a>
              </div>
            </div>
          </div>
          <div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
            <div>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media"><a href="equipment-detail.html"><img
                        src="assets/img/equipment-1.jpg" alt="Standard Excavator 8T" /></a></div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title"><a href="equipment-detail.html">Standard Excavator 8T</a></div>
                    <div class="equipment-item__links"><a href="03_equipment-categories.html">View Catelogue</a><a
                        href="04_equipment-categories.html">Print Quotation</a></div>
                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small></div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">$425.00</div>
                        <div class="equipment-item__price-old">$899.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>$125 / Day</li>
                        <li>$425 / Week</li>
                        <li>$1350 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn"><button
                      class="uk-button uk-button-default uk-button-large uk-width-1-1" type="button"><span>Book
                        now</span><span data-uk-icon="arrow-right"></span></button></div>
                </div>
              </div>
            </div>
            <div>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media"><a href="equipment-detail.html"><img
                        src="assets/img/equipment-2.jpg" alt="Dim Breaker Excavator" /></a></div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title"><a href="equipment-detail.html">Dim Breaker Excavator</a></div>
                    <div class="equipment-item__links"><a href="03_equipment-categories.html">View Catelogue</a><a
                        href="04_equipment-categories.html">Print Quotation</a></div>
                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small></div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">$425.00</div>
                        <div class="equipment-item__price-old">$899.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>$125 / Day</li>
                        <li>$425 / Week</li>
                        <li>$1350 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn"><button
                      class="uk-button uk-button-default uk-button-large uk-width-1-1" type="button"><span>Book
                        now</span><span data-uk-icon="arrow-right"></span></button></div>
                </div>
              </div>
            </div>
            <div>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media"><a href="equipment-detail.html"><img
                        src="assets/img/equipment-3.jpg" alt="Mini Excavator upto 5T" /></a></div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title"><a href="equipment-detail.html">Mini Excavator upto 5T</a></div>
                    <div class="equipment-item__links"><a href="03_equipment-categories.html">View Catelogue</a><a
                        href="04_equipment-categories.html">Print Quotation</a></div>
                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small></div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">$425.00</div>
                        <div class="equipment-item__price-old">$899.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>$125 / Day</li>
                        <li>$425 / Week</li>
                        <li>$1350 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn"><button
                      class="uk-button uk-button-default uk-button-large uk-width-1-1" type="button"><span>Book
                        now</span><span data-uk-icon="arrow-right"></span></button></div>
                </div>
              </div>
            </div>
            <div>
              <div class="equipment-item">
                <div class="equipment-item__box">
                  <div class="equipment-item__media"><a href="equipment-detail.html"><img
                        src="assets/img/equipment-4.jpg" alt="Long Range Excavator 20T" /></a></div>
                  <div class="equipment-item__info">
                    <div class="equipment-item__title"><a href="equipment-detail.html">Long Range Excavator 20T</a>
                    </div>
                    <div class="equipment-item__links"><a href="03_equipment-categories.html">View Catelogue</a><a
                        href="04_equipment-categories.html">Print Quotation</a></div>
                    <div class="equipment-item__list">
                      <ul>
                        <li>Brand: Wacker Neuson</li>
                        <li>MFG Year: 2019</li>
                        <li>Model: EZ17</li>
                        <li>Operating Weight: 1.7 Ton</li>
                      </ul>
                    </div>
                    <div class="equipment-item__price-box">
                      <div class="equipment-item__price-title">Total Rental Price<small>(Incl. Taxes)</small></div>
                      <div class="equipment-item__price">
                        <div class="equipment-item__price-current">$425.00</div>
                        <div class="equipment-item__price-old">$899.00</div>
                      </div>
                    </div>
                    <div class="equipment-item__prices">
                      <ul>
                        <li>$125 / Day</li>
                        <li>$425 / Week</li>
                        <li>$1350 / Month</li>
                      </ul>
                    </div>
                  </div>
                  <div class="equipment-item__btn"><button
                      class="uk-button uk-button-default uk-button-large uk-width-1-1" type="button"><span>Book
                        now</span><span data-uk-icon="arrow-right"></span></button></div>
                </div>
              </div>
            </div>
          </div>
          <ul class="uk-pagination uk-flex-center uk-margin-large-top">
            <li class="uk-active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
