@charset "UTF-8";
a:after,
span:after,
strong:after {
  display: inherit;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:after {
  clear: both;
  content: "";
  display: block;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  outline: none;
  text-decoration: none;
  transition: color 0.2s;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.main-container-wrapper {
  height: 100%;
  min-width: 768px;
  overflow: auto;
}

header {
  /* background-color: #ff9800; */
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.header--left {
  width: 70%;
}

.btn {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  height: 34px;
  outline: none;
  text-align: center;
  width: 34px;
  vertical-align: middle;
}
.btn:hover, .btn:focus {
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.btn .icon {
  font-size: 14px;
}

.form-control {
  background: transparent;
  border: 0;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  outline: none;
  width: 100%;
}

.menu-btn {
  margin: 3px 16px 0 0;
}

.menu-icon {
  width: 14px;
}

.notification-btn {
  color: #f1f4f8;
  margin-right: 16px;
}

.profile-btn {
  color: #f1f4f8;
}

.logo-wrapper {
  display: inline-block;
  margin-right: 24px;
  width: 37px;
}

.logo {
  width: 100%;
}

.search {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 34px;
  margin-top: 3px;
  position: relative;
  width: calc(100% - 112px);
}
@media (min-width: 992px) {
  .search {
    width: 568px;
  }
}
@media (min-width: 1200px) {
  .search {
    width: 600px;
  }
}
.search::before {
  color: #f1f4f8;
  content: "";
  font-family: "Ionicons";
  font-size: 12px;
  position: absolute;
  top: 11px;
  left: 16px;
  z-index: 10;
}
.search__input {
  color: #fff;
  padding: 0 16px 0 56px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.search__input::-webkit-input-placeholder {
  color: #f1f4f8;
}
.search__input::-moz-placeholder {
  color: #f1f4f8;
}
.search__input:-ms-input-placeholder {
  color: #f1f4f8;
}

main {
  height: calc(100% - 64px);
  min-height: 400px;
  overflow: auto;
  position: relative;
}

.message-icon-wrapper {
  display: inline-block;
  width: 186px;
}

.message-icon {
  width: 100%;
}

.message-block {
  /* width: 516px; */
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.message-block__content {
  width: 272px;
}
.message-block__main-text {
  color: #99a4ae;
  font-family: "Acme", sans-serif;
  font-size: 96px;
  margin-bottom: 22px;
}
.message-block__text {
  color: #677d88;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 12px;
}
.message-block__link {
  /* color: #ff9800; */
  display: flex;
  justify-content: start;
  align-items: center;
}
.message-block__link:hover, .message-block__link:focus {
  /* color: #eeae02; */
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.message-block__link:hover svg, .message-block__link:focus svg {
  fill: #1e87f0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.message-block__link-icon {
  display: inline-block;
  margin-right: 8px;
}
.message-block__link-icon svg {
  fill: #1e87f0;
}
.message-block__link-text {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
