<div class="page-head">
  <div class="page-head__bg" style="background-image: url(assets/img/bg_page-about.jpg)">
    <div class="d-block text-center">
      <div class="page-head__title">
        Exclusive Services
      </div>
      <p class="description text-white">Explore our exclusive range of services tailored to meet your needs.</p>
    </div>
    <div class="page-head__breadcrumb">
      <ul class="uk-breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><span>Drainage</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="page-content">
  <section class="section-services pb-5">
    <div class="container p-5">
      <div class="row pb-5">
        <div class="col-12">
          <img src="assets/img/drainage.jpg" alt="">
        </div>
        <div class="col-12">
          <h1 class="fw-bold pt-3">DRAIN DESILTING AND CONSTRUCTION</h1>
          <article class="fs-6" style="line-height: 25px;">
            A lot of road failures are attributed to ponding and flooding due to the inability of the drains to contain the
            water flow passing through. Many drain walls collapse because of constant soaking of the walls caused
            by stagnant water.
            Majority of the drain have been blocked due to waste bags and plastics piling up in the drains.
            We offer very effective clearing and cleaning of the drains and carting away. We do it at a very
            reasonable cost.
            Drains can also be re constructed to continue to serve it purpose.
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
