<div class="page-head">
  <div class="page-head__bg" style="background-image: url(assets/img/bg_page-about.jpg)">
    <div class="d-block text-center">
      <div class="page-head__title">
        Exclusive Services
      </div>
      <p class="description text-white">Explore our exclusive range of services tailored to meet your needs.</p>
    </div>
    <div class="page-head__breadcrumb">
      <ul class="uk-breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><span>Design</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="page-content">
  <section class="section-services pb-5">
    <div class="container p-5">
      <div class="row pb-5">
        <div class="col-12">
          <img src="assets/img/design.jpg" alt="">
        </div>
        <div class="col-12">
          <h1 class="fw-bold pt-3">DESIGN</h1>
          <article class="fs-6" style="line-height: 25px;">
            We offer professional services in the underlisted
            ROAD- Earth roads, Asphalt roads, Drain designs.
            BUILDING: Architectural drawings, Structural drawings
            LANDSCAPING
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
