<div class="modal-body">
  <div class="col-12 pb-3 d-flex justify-content-between align-items-center">
    <h2>Your Shopping Cart</h2>
    <button type="button" class="close border-0 fs-2" [disabled]="checkingout"
      data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <table *ngIf="cartItems.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Qty</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems;let i = index">
        <td>
          {{ item.item.qty }}
        </td>
        <td>
          <span>{{ item.item.name }}</span>
        </td>
        <td>
          <span>₦{{ (item.item.prices ?
            findSelectedPriceAmount(item.item.prices) : item.item.price) |
            number }}</span>
        </td>
        <td>
          <span>
            ₦{{
            (item.item.amount ? item.item.amount : ((item.item?.qty ?? 0) *
            (item.item?.price ?? 0)))
            | number
            }}
          </span>
        </td>
        <td>
          <button type="button" ngbTooltip="Remove item"
            (click)="removeItem(item)" class="btn-remove bg-transparent">
            <span uk-icon="ban"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="cartItems.length === 0" class="col-12 p-5 text-center">
    <h3 class="fw-normal">No items in your cart</h3>
  </div>

  <div class="container-fluid px-0">
    <div class="row">
      <div
        class="col-12 d-flex justify-content-between align-items-center">
        <button (click)="clearCart()" class="uk-button uk-button-default">
          Clear cart
        </button>
        <button *ngIf="cartItems.length > 0" type="button"
          [disabled]="checkingout" (click)="activeModal.close()"
          routerLink="/checkout" class="uk-button uk-button-secondary">
          Checkout (₦{{ getSubTotal() | number }})
          <div *ngIf="checkingout" class="spinner-border spinner-border-sm ms-2"
            role="status">
            <!-- <span class="visually-hidden">Loading...</span> -->
          </div>
        </button>
        <!-- <button type="button" [disabled]="checkingout"
          (click)="activeModal.dismiss()" class="uk-button uk-button-secondary"
          data-dismiss="modal">Close</button> -->
      </div>
      <!-- <div
        class="col-12 col-md-6 d-flex justify-content-end align-items-center gap-3"> -->
        <!-- <div class="d-flex justify-content-start align-items-center gap-3">
          <div>
            <h2 class="m-0">Subtotal</h2>
          </div>
          <div>
            <h2 class="m-0">₦{{ getSubTotal() | number }}</h2>
          </div>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
