li {
  list-style: none;
}

ul {
  padding: 0;
}


.btn-remove {
  border: 0;
}

.btn-remove svg {
  width: 30px;
}

td h2 {
  margin: 0 !important;
}

td:last-child {
  text-align: center;
  vertical-align: middle;
}

td {
  vertical-align: middle;
}
