<section class="s-reviews">
  <div class="uk-section uk-container">
    <div class="section-title --center">
      <span>Testimonials</span>
      <h3>Words From Loyal Customers</h3>
    </div>
    <div class="section-content">
      <div class="js-reviews-slider">
        <swiper [config]="config">
            <ng-template class="swiper-slide" swiperSlide>
              <div class="review-item">
                <div class="review-item__box">
                  <div class="review-item__desc">
                    <div class="review-item__icon">
                      <span data-uk-icon="quote-right">

                      </span>
                    </div>
                    <h4 class="review-item__title">Satisfying Services.</h4>
                    <p class="review-item__text">At dolore magna aliqua umt enim
                      ad mini veniam quis ulamco aliquip com
                      da consequat duis aute irue derit vol ptate cillum dolore
                      afugiat.</p>
                  </div>
                  <div class="review-item__user">
                    <div class="user">
                      <div class="user__avatar">
                        <img src="assets/img/user-1.png" alt="avatar">
                      </div>
                      <div class="user__info">
                        <div class="user__name">Donald James</div>
                        <div class="user__position">Rental Customer</div>
                        <div class="user__rating">
                          <ul class="rating-list">
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li data-uk-icon="star">

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="swiper-slide" swiperSlide>
              <div class="review-item">
                <div class="review-item__box">
                  <div class="review-item__desc">
                    <div class="review-item__icon">
                      <span data-uk-icon="quote-right">

                      </span>
                    </div>
                    <h4 class="review-item__title">Well-Performed Equip.</h4>
                    <p class="review-item__text">At dolore magna aliqua umt enim
                      ad mini veniam quis ulamco aliquip com
                      da consequat duis aute irue derit vol ptate cillum dolore
                      afugiat.</p>
                  </div>
                  <div class="review-item__user">
                    <div class="user">
                      <div class="user__avatar">
                        <img src="assets/img/user-2.png" alt="avatar">
                      </div>
                      <div class="user__info">
                        <div class="user__name">Sheggy O’Brain</div>
                        <div class="user__position">Rental Customer</div>
                        <div class="user__rating">
                          <ul class="rating-list">
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li data-uk-icon="star">

                            </li>
                            <li data-uk-icon="star">

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="swiper-slide" swiperSlide>
              <div class="review-item">
                <div class="review-item__box">
                  <div class="review-item__desc">
                    <div class="review-item__icon">
                      <span data-uk-icon="quote-right">

                      </span>
                    </div>
                    <h4 class="review-item__title">Working Excavators.</h4>
                    <p class="review-item__text">At dolore magna aliqua umt enim
                      ad mini veniam quis ulamco aliquip com
                      da consequat duis aute irue derit vol ptate cillum dolore
                      afugiat.</p>
                  </div>
                  <div class="review-item__user">
                    <div class="user">
                      <div class="user__avatar">
                        <img src="assets/img/user-3.png" alt="avatar">
                      </div>
                      <div class="user__info">
                        <div class="user__name">Albert D’Souza</div>
                        <div class="user__position">Rental Customer</div>
                        <div class="user__rating">
                          <ul class="rating-list">
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li data-uk-icon="star">

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template class="swiper-slide" swiperSlide>
              <div class="review-item">
                <div class="review-item__box">
                  <div class="review-item__desc">
                    <div class="review-item__icon">
                      <span data-uk-icon="quote-right">

                      </span>
                    </div>
                    <h4 class="review-item__title">Satisfying Services.</h4>
                    <p class="review-item__text">At dolore magna aliqua umt enim
                      ad mini veniam quis ulamco aliquip com
                      da consequat duis aute irue derit vol ptate cillum dolore
                      afugiat.</p>
                  </div>
                  <div class="review-item__user">
                    <div class="user">
                      <div class="user__avatar">
                        <img src="assets/img/user-1.png" alt="avatar">
                      </div>
                      <div class="user__info">
                        <div class="user__name">Donald James</div>
                        <div class="user__position">Rental Customer</div>
                        <div class="user__rating">
                          <ul class="rating-list">
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li data-uk-icon="star">

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="swiper-slide" swiperSlide>
              <div class="review-item">
                <div class="review-item__box">
                  <div class="review-item__desc">
                    <div class="review-item__icon">
                      <span data-uk-icon="quote-right">

                      </span>
                    </div>
                    <h4 class="review-item__title">Well-Performed Equip.</h4>
                    <p class="review-item__text">At dolore magna aliqua umt enim
                      ad mini veniam quis ulamco aliquip com
                      da consequat duis aute irue derit vol ptate cillum dolore
                      afugiat.</p>
                  </div>
                  <div class="review-item__user">
                    <div class="user">
                      <div class="user__avatar">
                        <img src="assets/img/user-2.png" alt="avatar">
                      </div>
                      <div class="user__info">
                        <div class="user__name">Sheggy O’Brain</div>
                        <div class="user__position">Rental Customer</div>
                        <div class="user__rating">
                          <ul class="rating-list">
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li data-uk-icon="star">

                            </li>
                            <li data-uk-icon="star">

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="swiper-slide" swiperSlide>
              <div class="review-item">
                <div class="review-item__box">
                  <div class="review-item__desc">
                    <div class="review-item__icon">
                      <span data-uk-icon="quote-right">

                      </span>
                    </div>
                    <h4 class="review-item__title">Working Excavators.</h4>
                    <p class="review-item__text">At dolore magna aliqua umt enim
                      ad mini veniam quis ulamco aliquip com
                      da consequat duis aute irue derit vol ptate cillum dolore
                      afugiat.</p>
                  </div>
                  <div class="review-item__user">
                    <div class="user">
                      <div class="user__avatar">
                        <img src="assets/img/user-3.png" alt="avatar">
                      </div>
                      <div class="user__info">
                        <div class="user__name">Albert D’Souza</div>
                        <div class="user__position">Rental Customer</div>
                        <div class="user__rating">
                          <ul class="rating-list">
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li class="active" data-uk-icon="star">

                            </li>
                            <li data-uk-icon="star">

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
        </swiper>
        <div class="slider-nav uk-margin-large-top">
          <div class="swiper-pagination">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
