<div class="page-head">
  <div class="page-head__bg" style="background-image: url(assets/img/bg_page-about.jpg)">
    <div class="d-block text-center">
      <div class="page-head__title">
        Exclusive Services
      </div>
      <p class="description text-white">Explore our exclusive range of services tailored to meet your needs.</p>
    </div>
    <div class="page-head__breadcrumb">
      <ul class="uk-breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><span>Road Rehabilitation</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="page-content">
  <section class="section-services pb-5">
    <div class="container p-5">
      <div class="row pb-5">
        <div class="col-12">
          <img src="assets/img/hero-slider-2.jpg" alt="">
        </div>
        <div class="col-12">
          <h1 class="fw-bold pt-3">ROAD REHABILITATION</h1>
          <article class="fs-6" style="line-height: 25px;">
            There are (2) two major causes of road failure: water and Load. It is safe to say the quality of bitumen
            used to produce asphalt due to the substandard has also contributed to this menace.
            Over the years, more by-products and chemical components have been discovered in bitumen and
            extracted for other purposes leaving the quality to depreciate considerably. (asphaltenes/ maltenes)
            A Question will be: why do the old asphalt bases have longer life span?
            This has caused many more recently built roads to fail earlier and quicker than projected. Many times,
            also the methods of laying and quality of equipment used usually don’t meet the minimum specifications.
            In some other cases, the failures start from the soil bases, its our job to identify the failed or failing
            areas
            and reconstruct them properly to serve the purpose. Introducing tested and trusted soil stabilization
            additives and materials to ensure the client gets value for their money.
            We will adhere to the design specifications; all processes will be followed to the letter.
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
